@use "mixins/media" as *;

.jdgm-carousel-wrapper {
  padding: 0 !important;
  width: 100% !important;
}

.jdgm-widget.jdgm-widget {
  padding: 0 30px;
  position: relative;

  .jdgm-carousel__arrows {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 5;

    > div {
      pointer-events: auto;
    }
  }
}
