@use "mixins/media" as *;

.product-form__quantity + .product-form__submit {
  --font-button-size: 14px;
}

.kaching-bundles__block {
  --bar-title-font-size: 18px !important;
  --bar-subtitle-font-size: 16px !important;
}

.kaching-bundles .kaching-bundles__bar-variant-names {
  font-size: 14px;
}

.product__info-wrapper {
  .product__info-container > * + * {
    margin: 1rem 0 0;
  }

  .product__text {
    &:not(:only-child) {
      display: inline-block;
      vertical-align: top;
      padding: 0 5px 0 0;
      width: 50%;

      @include sm {
        display: block;
        width: auto;
      }
    }

    a {
      color: inherit;
    }

    .icon {
      vertical-align: center;
    }
  }
}
