@use "mixins/media" as *;

.shopify-section--instafeed {
  .grid {
    --grid-horizontal-spacing: 5px;
    gap: var(--grid-horizontal-spacing);
  }

  .grid__item {
    aspect-ratio: 1;
    padding: 0;
  }

  img {
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    width: 100%;
  }
}
